[mysql]
port = 3306
prompt = \u@\h [\d]>\_



[mysqld]
datadir=/app/mysql
socket=/var/lib/mysql/mysql.sock   [mudar]
user=mysql
tmpdir=/app/mysql_temp
user=mysql

# Scheduler
event_scheduler=ON

basedir=/app/mysql

# Security
#secure_auth = 0
#local-infile = 0
#skip-symbolic-links

# Temp Tables
tmp_table_size = 256M
max_heap_table_size = 256M

server-id = 21
# Pasword Validate
#validate_password_policy=low
#skip-name-resolve
#old-passwords=2

# Plugin dir
#plugin_dir=/usr/lib64/mysql/plugin

# Set Slow Query Log
slow_query_log = 1
long_query_time = 60
slow_query_log_file =/app/mysql/mysql_slow_query_log.log

# Thread Pool
plugin-load=thread_pool.so
plugin-load=thread_pool=thread_pool.so;tp_thread_state=thread_pool.so;tp_thread_group_state=thread_pool.so;tp_thread_group_stats=thread_pool.so

# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
#old_passwords=0

# Parametros MyISAM
key_buffer_size=1G
myisam-recover-options = FORCE,BACKUP
concurrent_insert = ALWAYS
skip-external-locking

# Performance
performance_schema=ON
performance_schema_events_waits_history_size=20
performance_schema_events_waits_history_long_size=15000

# Parametros INNODB
innodb_file_per_table=1
innodb_buffer_pool_size=12G
innodb_read_io_threads = 16
innodb_write_io_threads = 4
table_open_cache_instances = 16
innodb_page_cleaners=16
default-storage-engine = INNODB
default-tmp-storage-engine = INNODB
innodb_log_file_size=1G
innodb_flush_log_at_trx_commit=2
innodb_flush_method= O_DIRECT
innodb_log_files_in_group= 2
read_buffer_size=256K
sort_buffer_size=256K
innodb_stats_persistent = 1

# Maximum limits
max_connections = 1000

# Parametros Consultas
thread_cache_size=100
query_cache_size=80M
query_cache_limit=8384512

max_allowed_packet=1073741824
net_read_timeout=720
net_write_timeout=720
wait_timeout=31536000
interactive_timeout=31536000
host_cache_size=2048

# Ignore Databases
ignore-db-dir=lost+found

# Logs Binarios

log_bin=/app/mysql/log-bin
max_binlog_size=2048M
expire_logs_days=2
log_bin_trust_function_creators = 1

# HugePages
#large-pages

# Disabling symbolic-links is recommended to prevent assorted security risks;
# to do so, uncomment this line:
# symbolic-links=0



[mysqld_safe]
log-error=/app/mysql/mysqld.log
pid-file=/app/mysql/mysqld.pid

[client]
socket=/var/lib/mysql/mysql.sock        [mudar]