
 # ----------------------------------------------------------------------
  2 # MySQL Server Arquivo de configuracao
  3 # SERVIDOR : CBM2AM17420 -  10.88.134.60
  4 #
  5 # Criado por : Daniel Pimenta
  6 # Data: 02/01/2024
  7 #
  8 # ----------------------------------------------------------------------
  9
 10 [client]
 11
 12 port= 3306
 13 socket=/mysql/mysql.sock
 14
 15
 16 [mysql]
 17
 18 socket=/mysql/mysql.sock
 19 max_allowed_packet=128M
 20 prompt='[MySQL] \u@\h> '
 21 #default_character_set          = utf8                 # Possibly this setting is correct for most recent Linux systems
 22
 23
 24
 25
 26 [mysqldump]
 27
 28 max_allowed_packet=128M
 29 socket=/mysql/mysql.sock
 30
 31 #[mysqld_safe]
 32 #socket=/mysql/mysql.sock
 33 #pid-file=/mysql/mysql.pid
 34 #log-error=/mysql/log/mysqld_safe.log
 35
 36
 37 [mysqld]
 38
 39 user=mysql
 40 port=3306
 41 socket=/mysql/mysql.sock
 42 pid-file=/mysql/mysql.pid
 43 datadir=/mysql/data/databases
 44
 45 #plugin-load-add=validate_password.so                              # Politica de senha
 46 # Recovery
 47 #innodb_force_recovery=2
 48
 49 # Tabelas temporarias
 50
 51 tmpdir=/mysql/data/tmpdir
 52 #max_tmp_tables=100
 53
 54
 55 #default_authentication_plugin=mysql_native_password        # Para garantir compatibilidade com versoes antigas de mysql como tambem de linguagem de programacao
 56
 57
 58
 59 max_allowed_packet=1G
 60 default_storage_engine=InnoDB
 61
 62 #character_set_server           = utf8
 63 #collation_server               = utf8_unicode_ci
 64 #init_connect                   = 'SET collation_connection = utf8_unicode_ci; SET NAMES utf8;'
 65 #skip-character-set-client-handshake
 66
 67 max_connections         = 300               # Values < 1000 are typically good
 68 max_user_connections    = 298               # Limit one specific user/application
 69 thread_cache_size       = 9                 # 8+(max_connections/100)
 70
 71
 72 explicit_defaults_for_timestamp=1
 73
 74 # Query Cache  VERIFICAR
 75 # have_query_cache=1
 76
 77 # Session variables
 78
 79 sort_buffer_size               = 100M       # Espaço de sort (order\group by) MAX=4G
 80 tmp_table_size                 = 128M        # Make sure your temporary results do NOT contain BLOB/TEXT attributes
 81
 82 read_buffer_size               = 100M
 83 read_rnd_buffer_size           = 100k           #Leitura tabelas MyISAM
 84 join_buffer_size               = 64k
 85 bulk_insert_buffer_size        = 128M
 
 88 # Other buffers and caches
 89
 90 table_definition_cache         = 100        # As big as many tables you have
 91 table_open_cache               = 100        # connections x tables/connection (~2)
 92
 93
 94
 95
 96
 97 # Slow Query Log
 98
 99 slow_query_log_file            = /mysql/log/slow.log   ## botar direotrio
100 slow_query_log                 = 1
101 log_queries_not_using_indexes  = 0
102 long_query_time                = 2
103
104
105
106 # General Query Log { Funcina para verificar tudo que é enviado pelos client's para dentro do mysql - investigativo
107
108 #general_log_file=general.log
109 #general_log=0
110
111
112
113 #Replication
114
115 server_id=1
116 # Logging
117
118 log-error=/mysql/log/mysqld.log                                                       # MySQL error log
119
120 # log_bin=ON
121 log_bin=/mysql/data/binario_log/cl42212lx0451-log-bin
122 log_bin_index=/mysql/data/binario_log/cl42212lx0451-log-bin-index
123
124
125 binlog_cache_size=1M
126 binlog_stmt_cache_size=1M               # Since 5.5
127 max_binlog_size=128M                    # Make bigger for high traffic to reduce number of files
128 sync_binlog=1                           # Set to 1 or higher to reduce potential loss of binary-log data
129 expire_logs_days=7                      # We will survive easter holidays
130 binlog_format=ROW                       # Use MIXED if you experience some troubles
131 binlog_row_image=MINIMAL                # Since 5.6
132
133 # MyISAM variables
134
135 key_buffer_size=5G                                 # Set to 25 - 33 % of RAM if you still use MyISAM
136
137 #myisam_recover_options='BACKUP,FORCE'              # Since 5.5
138 #myisam_recover = 'BACKUP,FORCE'
139
140 # MEMORY variables
141
142 max_heap_table_size=768M                               # Should be greater or equal to tmp_table_size
143
144
145 #########################################  InnoDB variables
146
147 # InnoDB
148 # innodb_data_home_dir    = /home/nwn/mysqldata/instA/innodb/data
149
150 innodb_data_file_path   = /mysql/data/innodb/ibdata1:100M;/mysql/data/innodb/ibdata2:100M:autoextend
151 innodb_log_group_home_dir = /mysql/data/innodb/log
152
153 innodb_buffer_pool_size=6G                 # Go up to 80% of your available RAM
154 innodb_buffer_pool_instances=16            # Bigger if huge InnoDB Buffer Pool or high concurrency
155 innodb_file_per_table=1                    # Is the recommended way nowadays
156 innodb_log_buffer_size=16M                 # Bigger if innodb_flush_log_at_trx_commit = 0
157 innodb_log_file_size=256M                  # Bigger means more write throughput but longer recovery time

